body{
    background-color: #f2f2f2;
    font-family: Arial;
}


form{
    background-color: white;
    padding: 20px;
    margin-top: 100px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px gray;
}
input{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}


table{
    width: 100%;
}

td{
    padding: 8px;
}
