body{
    background-color: white;
    font-family: Arial;
}

.navbar-brand{
    font-size: 22px;
    color: black;
}

form{
    margin-top: 30px;
    background-color: #f5f5f5;
    padding: 20px;
    width: 400px;
    border: 1px solid black;
}

form h1{
    color: black;
    text-align: center;
    background-color: black
}

table{
    width: 100%;
}

td{
    padding: 8px;
    color: black;
}

input{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}

button{
    width: 100%;
    padding: 8px;
    background-color: black;
    color: white;
    border: none;
}

button:hover{
    background-color: gray;
}
